.homeCarrossel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  
}

.carrossel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 72vw;
  height: 40.5vw;
  margin: 2vw;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagemSlide {

}