.caixotonaMae {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin: 0;
    padding: 0;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
}

.coluna1Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.coluna3Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.polaroid {
    width: 21vw;
    margin: 1vw;
    opacity: 0.85;
    border-radius: 1vw;
}
.polaroid:hover {
    opacity: 1;
    width: 20.75vw;
    box-shadow: 10px 10px 18px -1.5px #808080;
}

.coluna2Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 44vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42vw;
    margin-bottom: 1vw;
}
.logo {
    width: 14vw;
    border-radius: 80vw;
    box-shadow: 10px 10px 18px -1.5px #808080;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 26vw;
    margin-top: 1.5vw;
    width: 23.5vw;
    border-radius: 1.5vw;
    border-color: #a6a6a6;
    border-style: double;
    box-shadow: 10px 10px 18px -1.5px #808080;
    background-color: ffffff;
}
.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    text-align: justify;
    text-align: center;
    text-align-last: center;
}
.tituloEntrar {
    font-size: 1.75vw !important;
    margin-top: 0.75vw !important;
    margin-bottom: 0.5vw !important;
    text-shadow: 0px 0px 20px #808080 !important;

}
.botaoEntrar {
    border-radius: 0.7vw !important;
    background-color: #f5f5f5 !important;
    color: black !important;
    text-shadow: -.30px -.30px 0 black, 
                .30px .30px black;
    letter-spacing: 0.1vw !important;
    margin: 1.5vw !important;
    font-size: 1.1vw !important;
    box-shadow: 6px 6px 10px -1.5px #808080 !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
}
.botaoEntrar:hover {
    border-radius: 0.7vw !important;
    background-color: #a0a0a0 !important;
    color: #ffffff !important;
    text-shadow: -.40px -.40px 0 white, 
                .40px .40px white !important;
    letter-spacing: 0.2vw !important;
    margin: 1.5vw !important;
    font-size: 1.1vw !important;
    box-shadow: 6px 6px 10px -1.5px #808080 !important;
    padding-left: 1.5vw !important;
    padding-right: 1.5vw !important;
}
.ainda {

}
.cliqueCadastre {
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.25vw !important;
    margin-top: 0.1vw !important;
    margin-bottom: 1vw !important;
}






/*     Lista de opções de CSS pra ficar de olho

list-style-type: none;
text-decoration: none;
color: #fff;
text-shadow: 7px 7px 15px #69353d, 7px 7px 15px #69353d;
font-family: 'Indie Flower';
font-size: 20px;
letter-spacing: 1px;
line-height: 1.35;
word-spacing: 2px;

text-align: justify;
text-align: center;
text-align-last: center;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

flex-flow: row;
width: 80vw;
height: 2px;
margin: 0;
padding: 0;

background-color:#B76E79;
border: none;
border-radius: 30px;

hover
color:#D4AF37;
cursor: pointer;
opacity: 0.5;

*/




